h1{
  text-align: center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 596px;
  height: 272px;

}

form{
  margin-top: 20px;
  text-align: center;
}

.form-element{
  margin-bottom: 20px;
}
footer{
  text-align: center;
}
